# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\kacpe\Desktop\Uczelnia\ROK2.2\TPO\z1\TPO1\zadanie1\TPO1_MK_S20995\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
